{% extends 'base.html.twig' %}

{% block title %}Collecte{% endblock %}

{% block body %}
    <h1>Collecte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collecte.id }}</td>
            </tr>
            <tr>
                <th>Nom_Collecte</th>
                <td>{{ collecte.NomCollecte }}</td>
            </tr>
            <tr>
                <th>Date_Collecte</th>
                <td>{{ collecte.DateCollecte ? collecte.DateCollecte|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Globule_Rouge</th>
                <td>{{ collecte.GlobuleRouge }}</td>
            </tr>
            <tr>
                <th>Quantite_GRouge</th>
                <td>{{ collecte.QuantiteGRouge }}</td>
            </tr>
            <tr>
                <th>Plaquette</th>
                <td>{{ collecte.Plaquette }}</td>
            </tr>
            <tr>
                <th>Quantite_Plaquette</th>
                <td>{{ collecte.QuantitePlaquette }}</td>
            </tr>
            <tr>
                <th>Plasma</th>
                <td>{{ collecte.Plasma }}</td>
            </tr>
            <tr>
                <th>Quantite_Plas</th>
                <td>{{ collecte.QuantitePlas }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('collecte_index') }}">back to list</a>

    <a href="{{ path('collecte_edit', {'id': collecte.id}) }}">edit</a>

    {{ include('collecte/_delete_form.html.twig') }}
{% endblock %}
